* {
    margin: 0;
    padding: 0;
}

.cuerpo {
    font-family: sans-serif;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.c_principal::-webkit-scrollbar {
    width: 8px;
    /* Tamaño del scroll en vertical */
    height: 8px;
    /* Tamaño del scroll en horizontal */
    display: none;
    /* Ocultar scroll */
}

.card-body {
    padding: 5px 5px;
}

.table-responsive::-webkit-scrollbar {
    width: 8px;
    /* Tamaño del scroll en vertical */
    height: 8px;
    /* Tamaño del scroll en horizontal */
    display: none;
    /* Ocultar scroll */
}

.barra {
    width: 100%;
    height: 5px;
    background-color: #457b9d;
    margin-bottom: 110px;
}

.login-head {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: white;
}

.container-login {
    width: 100%;
    display: flex;
    justify-content: center;
}

.log-in {
    width: 350px;
    height: 355px;
    border-radius: 5px;
    background-color: #252422;
}

.log-in .container-img {
    display: flex;
    justify-content: center;
}

.user-img {
    width: 80px;
    height: 80px;
}

.linea {
    width: 100%;
    height: 2px;
    margin-bottom: 10px;
    background-color: #ffca3a;
}

.container-form {
    margin: 10px 25px;
    height: 180px;
}

.form-label {
    color: white;
}

.navbar .op-usuario {
    justify-content: end;
}

.op-usuario {
    width: 55%;
    height: 40px;
    display: flex;
    align-items: center;
    padding-right: 80px;
}

#op-user {
    display: flex;
    align-items: center;
}

#op-user .user-profile {
    margin-right: 10px;
}

.nombreUsuario {
    margin-bottom: 0;
    padding: 5px 5px;
}

.user-profile {
    width: 32px;
    height: 32px;
}

.tabla-prod-today {
    margin-bottom: 0px;
}

.container-btn-menu {
    margin: 10px 10px;
}

.profile-picture {
    width: 32px;
    height: 32px;
}

#offcanvasExample {
    background-color: #252422;
    width: 300px;
}

#offcanvasExampleLabel {
    color: white;
}

.divicion {
    background-color: #457b9d;
    width: 100%;
    height: 5px;
}

.sub-menu {
    padding-left: 25px;
}

.menu-lista {
    padding-left: 0;
    margin: 0;
}

.options {
    width: 100%;
    height: 45px;
    padding-left: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.links {
    text-decoration: none;
    color: white;
}

.links:hover {
    color: white;
}


.container-perfil {
    display: flex;
    align-items: center;
}

.img-perfil {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.role-text {
    margin-bottom: 0;
}

.options:hover {
    background-color: #434343;
    border-left: 5px #27AE60 solid;
}

.option-active-sub-me {
    background-color: #434343;
    border-left: 5px #F1C40F solid;
}

.option-active, .option-active:hover {
    background-color: #434343;
    border-left: 5px #E74C3C solid;
}

.container-add-user {
    margin: 10px 10px;
    width: 80%;
    display: flex;
    justify-content: end;
}

.btn-add-user {
    margin-right: 5px;
}

.modal-title {
    color: white;
}

#tb_users {
    padding: 15px 20px;
}

#icons {
    width: 32px;
    height: 32px;
}

.container-principal {
    padding-left: 25px;
    display: flex;
    background-color: #ECF0F1;
}

.text-dash {
    display: flex;
    align-items: center;
}

.container-p {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-around;
}

.container-p-b {
    width: 80%;
    background-color: #FDFEFE;
    border-radius: 5px;
}

.container-form {
    height: max-content;
}

.container-rem-prod {
}

.container-list-rem {
    padding-left: 16px;
    width: 370px;
}

.lista-rem {
    width: 20rem;
}

.registros-rem {
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

.titulo-collaps {
    float: left;
}

.button-remanente-retorno {
    float: right;
    display: flex;
}

.contenedor-funciones-nomina {
    padding: 0 5px;
}

.container-prod,
.container-empleados{
    width: 100%;
    padding: 10px 15px;
    display: flex;
}

.container-table-registros-produccion,.container-table-empleados {
    padding-top: 10px ;
    padding-bottom: 10px;
}

.group-options {
    padding-top: 10px;
}

.container-rem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

.container2 {
    width: 370px;
    padding-bottom: 5px;
}

.container2-consumos {
    width: 370px;
}

.title-header {
    padding: 4px 8px;
}

.plus {
    float: right;
}

.title-card {
    float: left;
}

.container-init-tags {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}

.line-separator {
    background-color: #BBD6B8;
    width: 2px;
    height: 70%;
    border-radius: 2px;
}

.container-tags {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 22%;
    padding: 10px 10px;
    border-radius: 5px;
}
.container-tags:hover{
    -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1)
}

.icon-info, .fa-bars-staggered {
    width: 30px;
    height: 30px;
}

.container-p-a {
    width: 370px;
    padding-bottom: 5px;
}

.tag-graphis {}

.chart-container {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 240px
}

.footer-modal-btn {
    display: flex;
    justify-content: end;
}

@media screen and (max-width:768px) {
    .container-rem {
        flex-direction: column;
    }

    .list-group-numbered {
        display: none;
    }
}